.container {
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: relative;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  overflow: hidden;
}
.LoadingSpinner {
  /* background-color: hotpink; */
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  top: 44%;
  transform: scale(1);
}

.formContainer {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border: 1px solid white;
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgb(231, 231, 231);
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 396px;
  padding: 24px;
  color: white;
}

.xContainer {
  position: absolute;
  right: 16px;
  top: 12px;
  cursor: pointer;
  font-size: 16px;
  text-shadow: 0px 0px 9px #000000;
}
.x {
  fill: white;
  height: 16px;
  width: 16px;
}

.titleContainer {
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.titleContainer h1 {
  padding: 0;
  font-size: 2.2rem;
  /* text-shadow: 0px 0px 2px #000000; */
}
.titleContainer p {
  color: rgb(115, 115, 115);
  /* padding: 0rem 22px; */
  /* text-shadow: 0px 0px 2px #000000; */
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 8px;
}
.horizontalLine {
  background-color: rgb(83, 83, 83);
  border: none;
  height: 2px;
  width: 12em;
  /* padding: 0px 22px; */
  border-radius: 10px;
  margin-bottom: 12px;
}
.form {
  /* height: 30rem;
    width: 20rem; */

  padding: 0rem 3rem 0rem 3rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  align-items: center;
}
.form label {
  text-shadow: 0px 0px 10px #000000;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.inputItem {
  font-weight: 700;
  border: 1px solid rgba(128, 128, 128, 0.334);
  border-radius: 6px;
  height: 2.4rem;
  margin-bottom: 1.4rem;
  font-size: 1.2rem;
  padding: 0.2rem;
  width: 20rem;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 4px 8px rgb(0, 0, 0), inset 0px 0px 1px 0px rgb(255, 255, 255);
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}
.sameLineInputContainer {
  display: flex;
  justify-content: space-between;
  width: 20.6rem;
}
.sameLineInput {
  font-weight: 700;
  border: 1px solid rgba(128, 128, 128, 0.334);
  border-radius: 6px;
  height: 2.4rem;
  margin-bottom: 1.4rem;
  font-size: 1.2rem;
  padding: 0.2rem;
  width: 9.5rem;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 4px 8px rgb(0, 0, 0), inset 0px 0px 1px 0px rgb(255, 255, 255);
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.btnContainer {
  margin-top: 12px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  box-shadow: 0px 4px 8px rgb(0, 0, 0), inset 0px 0px 1px 0px rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 6px;
  height: 1.8rem;
  display: flex;
  align-items: center;
  width: fit-content;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  font-size: 1.2rem;
}

.signUp {
  border-radius: 12px;
  text-shadow: 0px 1px 6px #000000;
  border: 1px solid white;
  background-color: #36a420;
  font-size: 24px;
  padding: 24px 4rem;
  margin-bottom: 0rem;
  background-color: #349e1f;
}

@media only screen and (max-width: 462px) {
  .formContainer {
    width: 320px;
  }
  .form input {
    /* width: 280px; */
  }
  .login {
    /* width: 280px; */
  }
}
@media only screen and (max-width: 412px) {
  .formContainer {
    width: 320px;
  }
  .form input {
    width: 280px;
  }
  .login {
    width: 280px;
  }
  .sameLineInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 20.6rem;
  }
  .sameLineInput {
    width: 2.5rem;
  }
}
@media only screen and (max-width: 394px) {
  .formContainer {
    width: 260px;
  }
  .form input {
    width: 240px;
  }
  .login {
    width: 280px;
  }
  .sameLineInputContainer {
    width: 20.6rem;
  }
  .sameLineInput {
    width: 2.1rem;
  }
}
